<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 
  		Java web applications uses a deployment descriptor to map URL to Java classes. 
  		
  		The file resides within the webapp/WEB-INF/
  		
  		Like our previous configuration files, use eXtensible markup language. 
   -->
  
  <servlet>
  		<servlet-name>FirstServlet</servlet-name>
  		<servlet-class>com.revature.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>FirstServlet</servlet-name>
  		<url-pattern>/hello</url-pattern>
  		<url-pattern>/another/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>SecondServlet</servlet-name>
  		<servlet-class>com.revature.servlets.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>SecondServlet</servlet-name>
  		<url-pattern>/life</url-pattern>
  </servlet-mapping>
  
</web-app>