<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>FrontControl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  		<servlet-name>Master</servlet-name>
  		<servlet-class>com.revature.servlets.MasterServlet</servlet-class>
  		
  		<init-param> <!-- Servlet config, this information belongs just to the sevlet -->
  				<param-name>Greetings</param-name>
  				<param-value>Guten Tag!</param-value>
  		</init-param>
  		
  		<load-on-startup>-1</load-on-startup>
  		
  		
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>Master</servlet-name>
  		<url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <context-param> <!-- Servlet context, information is shared with all the servlets  -->
  		<param-name>databaseURl</param-name>
  		<param-value>https://wwww.google.com</param-value>
  </context-param>
</web-app>