<div class = "container">

    <div class = "row spacer otherfont">
        <h1>Welcome to Spring-Angular connection example!</h1>
    </div>

    <div class = "row spacer">
        <div class = "col-8">
            <h3>Logged in user details: {{userDetails}}</h3>
        </div>
        <div class ="col-4">
            <button type = "button" class ="btn btn-info" (click) = "firstButton()">Buttoon!</button>
        </div>
    </div>

    <div class = "row spacer">
        <div class = "col-8">
            <h3>Logged in message: {{loginMessage}}</h3>
        </div>
        <div class ="col-4">
            <button type = "button" class ="btn btn-info" (click) = "secondButton()">Buttoon!</button>
        </div>
    </div>

    <div class = "row spacer">
        <div class = "col-8">
            <h3>Logged put message: {{logoutMessage}}</h3>
        </div>
        <div class ="col-4">
            <button type = "button" class ="btn btn-info" (click) = "thirdButton()">Buttoon!</button>
        </div>
    </div>
</div>